@import "@blueprintjs/core/lib/scss/variables";

$primary: $blue1;
$bg-titlebar: $dark-gray2;
$bg-main: $dark-gray1;

:export {
  primary: $primary;
  bg-titlebar: $bg-titlebar;
  bg-main: $bg-main;
  bg-footer: $bg-titlebar;
}